<!-- Container (DISCOGRAPHY Section) -->
<div id="discography h-100 my-5">
    <div class="container">
        <h2 class="text-center title my-5">Rock Albums in Peru</h2>
        
        
        <div class="text-center slick-carousel-albums py-5">
            

            {{#each albumsPeru}}
                <div class="card">

                <!-- Card image -->
                <div class="view overlay">                    
                        <img class="card-img-top" src="https://picsum.photos/35{{@index}}/35{{@index}}/?random"
                            alt="Card image cap"
                            style="max-width: 350px;"
                        >                                    
                    <a href="/albums/{{this.id}} ">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title">{{this.title}}</h4>
                </div>

            </div>
            {{/each}}
            

        </div>

        
    </div>